.App {
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
h3 {
  color: rgb(46, 46, 221);
}
.calc-container {
  width: 300px;
  height: 400px;
  background-color: yellowgreen;
  margin: 50px auto;
  text-align: center;
}
.result {
  height: 40px;

  margin: 5px;
  padding: 20px;
  text-align: right;
  font-weight: bold;
  font-size: x-large;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
}
.btn {
  margin: 5px;
  border-radius: 5px;
  outline: none;
  background-color: yellowgreen;
  color: white;
  font-size: medium;
}

/* #clear-span {
  grid-column-end: span 2;
} */
#back-space {
  grid-column: 3 / span 2;
}
.heighlight {
  background-color: rgb(12, 107, 184);
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
